img{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    float: left;
}

.parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.child{
    flex-basis: 20%;
    box-sizing: border-box;

}
h2{
    font-size: 40px;
    padding: 10px;
}
.dash{
     padding-left: 30px;
}

